<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114715905009-8bf724njjd9n3urijak0biamtshh9cln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114715905009-8bf724njjd9n3urijak0biamtshh9cln</string>
	<key>API_KEY</key>
	<string>AIzaSyDWmdnM5CkDGBz_DrPJe7Gda5ibZU-BJhw</string>
	<key>GCM_SENDER_ID</key>
	<string>114715905009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttergo.instagram</string>
	<key>PROJECT_ID</key>
	<string>emanate01-958f1</string>
	<key>STORAGE_BUCKET</key>
	<string>emanate01-958f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114715905009:ios:192ec85fb15f73ce021250</string>
</dict>
</plist>